.DS_Store
.idea/
.python-version
.coverage*
.dockerignore
.flake8
.github/
.venv/
LICENSE
README.md
docker-compose*
__pycache__
analysis/
app/
build/
docker/
scripts/
mlruns/
git-config/
mypy.ini
pyproject.toml
pytest.ini
setup.cfg
cms-users.db
tests/