pytest~=7.1.2
pytest-mock~=3.7.0
pytest-timeout~=2.1.0
pytest-random-order~=1.1.0
pytest-asyncio~=0.23.7
pytest-cov~=4.1.0
httpx~=0.24.1
mypy==1.8.0
flake8==6.1.0
flake8-pyproject==1.2.3
locust~=2.11.0
typer-cli~=0.12.3