medcat==0.3.4
nltk~=3.6.2
numpy~=1.20.3
pandas~=1.2.4
sentencepiece~=0.1.95
spacy~=2.2.4
torch~=1.4.0
sklearn==0.0

fastapi~=0.75.2
uvicorn~=0.17.6
python-multipart~=0.0.5
ijson~=3.1.4
python-dotenv~=0.20.0
setuptools
wheel

https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_md-0.2.4.tar.gz